.Bimage{
    background-image:url(/MarketMan/resources/background/background.jpg) !important;
}

.ui-layout-unit-content{background-image:url(/MarketMan/resources/background/background.jpg) !important;}

.fancyNavClass{
    border-bottom: 1px solid grey;
    width: 200%
}

.navbar-default .navbar-nav > li > a {
    color : #777 !important;
    
}

.navbar-default .navbar-nav > li > a:hover {
    color : white !important;
}

.ui-layout-west .ui-layout-unit-content {
    overflow-x: hidden !important;
}