<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="cars">
        <h:head>
            <title> MarketManager | Cars </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{carController.init()}" />
                </f:metadata>


                <h:form id = "carForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Cars"/>
                    </h3>

                    <b:button look="primary" outcome="new_car" value ="New Car"/> 

                    <br/><br/>

                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('carForm:filter', 'carForm:filterb1', 'carForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('carForm:filter', 'carForm:filterb1', 'carForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="carName" />
                            <h:inputText value="#{carController.filteredName}" id="carName"  />

                            <h:outputLabel value="Plate number" for="plateNumber" />
                            <h:inputText value="#{carController.filteredPlate}" id="plateNumber"  />

                            <h:outputLabel value="Condition" for="conditionSelector" />
                            <b:selectOneMenu style="width: 96%" id="conditionSelector"  value="#{carController.filteredCondition}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{carController.allConditions()}" var="filteredCondition" itemLabel="#{filteredCondition.condition}" itemValue="#{filteredCondition}" />
                            </b:selectOneMenu>
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="carForm:carsTable" actionListener="#{carController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="carsTable" markSearchResults="true" paginated="true" striped="true" select="false" var="car" value="#{carController.carList}">
                        <b:dataTableColumn label="Name">
                            <h:outputText value="#{car.name}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Type">
                            <h:outputText value="#{car.type.carType}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Plate number">
                            <h:outputText value="#{car.plateNumber}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Required license" style="width:20%">
                            <h:outputText value="#{car.requiredLicense.licenseType}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Condition" style="width:10%">
                            <h:outputText value="#{car.condition.condition}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_car.xhtml?car=#{car.id}" />
                            <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_car.xhtml?car=#{car.id}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

