<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="drivers">
        <h:head>
            <title> MarketManager | Drivers </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{driverController.init()}" />
                </f:metadata>


                <h:form id = "driverForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Drivers"/>
                    </h3>

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('driverForm:filter', 'driverForm:filterb1', 'driverForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('driverForm:filter', 'driverForm:filterb1', 'driverForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="driverName" />
                            <h:inputText value="#{driverController.filteredName}" id="driverName"  />

                            <h:outputLabel value="License" for="licenseSelector" />
                            <b:selectOneMenu id="licenseSelector" style="width:96%;"  value="#{driverController.filteredLicense}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{driverController.allLicenses()}" var="filteredLicense" itemLabel="#{filteredLicense.licenseType}" itemValue="#{filteredLicense}" />
                            </b:selectOneMenu>

                            <h:outputLabel value="Show inactive" for="showInactive" />
                            <h:selectBooleanCheckbox id="showInactive" value="#{driverController.showInactive}" />
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="driverForm:driversTable" actionListener="#{driverController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="driversTable" markSearchResults="true" paginated="true" striped="true" select="false" var="driver" value="#{driverController.driverList}">
                        <b:dataTableColumn label="Name" width="33%">
                            <h:outputText rendered="#{driverController.isUserInRole('user')}"  value="#{driver.employee.name} "/>
                            <h:link rendered="#{driverController.isUserInRole('admin')}" outcome="view_employee.xhtml?employee=#{driver.employee.id}" value="#{driver.employee.name} " />
                            <h:outputText rendered="#{driverController.activityRendered(driver) or driverController.activityRenderedForDriver(driver)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="License" width="33%" >
                            <h:outputText value="#{driver.license}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions" >
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_driver.xhtml?driver=#{driver.id}" />
                            <b:button look="primary" value="Edit" rendered="#{driverController.driverStatusActive(driver) and driverController.isUserInRole('admin')}" icon-awesome="fas fa-pencil" outcome="edit_driver.xhtml?driver=#{driver.id}" />
                            <b:commandButton look="danger" ajax="true" rendered="#{driverController.driverStatusActive(driver) and driverController.isUserInRole('admin')}" value="Deactivate" update="@form" icon-awesome="fas fa-trash" actionListener="#{driverController.deleteDriver(driver)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

