<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="home.xhtml">

    <ui:define name="edit_request">
        
        <h:head>
                <title> MarketManager | Edit Request </title>
        </h:head>
        
        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{requestController.initExistingRequest()}" />
                </f:metadata>

                <h:form id = "requestEditForm" >
                    
                    <h3>
                        <h:outputText value="Edit request reason"/>
                    </h3>

                    <h:panelGrid id ="requestEditGrid" columns="1">

                        <h:outputLabel value="Reason" for="reason" />
                        <h:inputTextarea id="reason" style="width: 200%; height: 150px" value="#{requestController.request.reason}" required="true" requiredMessage="The reason field is required."/>
                        <h:message id="m1" for="reason" style="color:red"/> 
                        
                    </h:panelGrid>
                    
                    <b:commandButton look="success" value ="Save" actionListener="#{requestController.editRequestReason()}"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Requests" outcome="requests" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

