<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="edit_warehouse">
        <h:head>
            <title> MarketManager | Edit Warehouse </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{warehouseController.initExistingWarehouse()}" />
                </f:metadata>

                <h:form id = "warehouseEditForm" >
                    
                    <p:resizable for="warehouseEditGrid" />

                    <h3>
                        <h:outputText value="Edit Warehouse"/>
                    </h3>

                    <p:panelGrid id ="warehouseEditGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{warehouseController.warehouse.name}" required = "true" requiredMessage="The Name field is required"/>


                        <h:outputLabel value="Address" for="address" />
                        <h:inputText id="address" value="#{warehouseController.warehouse.address}" required = "true" requiredMessage="The Address field is required"/>
                        
                        <h:outputLabel value="Status" for="statusSelector" />
                        <p:selectOneMenu id="statusSelector" value="#{warehouseController.warehouse.activeStatus}" style="width:96%" >
                            <f:selectItems value="#{warehouseController.allActiveStatus()}" var="activeStatus" itemLabel="#{activeStatus.acitvity}" itemValue="#{activeStatus}" />
                        </p:selectOneMenu>
                        
                    </p:panelGrid>

                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="address" style="color:red"/> 
                    </h:panelGrid>
                    
                    <br/>

                    <b:commandButton look="success"  value ="Save" actionListener="#{warehouseController.editWarehouse()}"  update="@form"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Warehouses" outcome="warehouses" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

