<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="edit_car">
        <h:head>
            <title> MarketManager | Edit Car </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{carController.initExistingCar()}" />
                </f:metadata>

                <h:form id = "carEditForm" >
                    
                    <p:resizable for="carEditGrid"  />

                    <h3>
                        <h:outputText value="Edit Car"/>
                    </h3>

                    <p:panelGrid id ="carEditGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{carController.car.name}" required="true" requiredMessage="The Name field is required."/>

                        <h:outputLabel value="Type" for="typeSelector" />
                        <p:selectOneMenu id="typeSelector" value="#{carController.car.type}" >
                            <f:selectItems value="#{carController.allTypes()}" var="type" itemLabel="#{type.carType}" />
                        </p:selectOneMenu>
                        
                        <h:outputLabel value="Required license" for="licenseSelector" />
                        <p:selectOneMenu id="licenseSelector" value="#{carController.car.requiredLicense}" >
                            <f:selectItems value="#{carController.allLicenses()}" var="license" itemLabel="#{license.licenseType}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Plate number" for="plate" />
                        <h:inputText id="plate" value="#{carController.car.plateNumber}" required="true" requiredMessage="The Plate number field is required."/>

                        <h:outputLabel value="Condition" for="conditionSelector" />
                        <p:selectOneMenu id="conditionSelector" value="#{carController.car.condition}" >
                            <f:selectItems value="#{carController.allConditions()}" var="condition" itemLabel="#{condition.condition}" />
                        </p:selectOneMenu>

                    </p:panelGrid>

                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="plate" style="color:red"/> 
                    </h:panelGrid>

                    <br/>

                    <b:commandButton look="success"  value ="Save" actionListener="#{carController.editCar()}" update="@form" />
                    
                    <br/><br/>

                    <b:button value ="Back to Cars" outcome="cars" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

