<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="edit_shipping">
        <h:head>
            <title> MarketManager | Edit Shipping </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{shippingController.initExistingShipping()}" />
                </f:metadata>


                <h:form id = "existingShippingForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Edit Shipping"/>
                    </h3>

                    <br/><br/>

                    <p:panelGrid id ="EditShippingGrid" columns="2" style="width: 27%">

                        <h:outputLabel value="Driver" for="driverSelector" />
                        <p:selectOneMenu id="driverSelector"  style="width: 96%" converter="driverConverter" filter="true" filterMatchMode="startsWith" value="#{shippingController.shipping.driver}" required="true" requiredMessage="The driver field is required">
                            <f:selectItems value="#{shippingController.driverList}" var="driver" itemLabel="#{driver.employee.name}" itemValue="#{driver}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Car" for="carSelector" />
                        <p:selectOneMenu id="carSelector" converter="carConverter" style="width: 96%"  value="#{shippingController.shipping.car}" required="true" requiredMessage="The driver field is required">
                            <f:selectItems value="#{shippingController.carList}" var="car" itemLabel="#{car.name}" itemValue="#{car}" />
                        </p:selectOneMenu>
                        
                        <h:outputLabel value="Shipping Date" for="shippingDate" />
                        <p:calendar value="#{shippingController.shipping.shippingDate}" id="shippingDate" readonlyInput="true" mindate="today"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn" required="true" requiredMessage = "Shipping date is required"/>

                    </p:panelGrid>

                    <p:panelGrid id ="ordersGrid" columns="1" style="width: 27%">
                        <h:outputLabel style="margin-left: 40%;" value="Orders" for="orders" />
                        
                        <ui:repeat id="orders" value="#{shippingController.shipping.orderList}" varStatus="index" var="shippingOrder">

                            <h:panelGrid columns="2" >
                                <p:selectOneMenu id="orderSelector" converter="orderConverter" filter="true" filterMatchMode="startsWith" value="#{shippingController.shipping.orderList[index.index]}" required="true" requiredMessage="The order field is required">
                                    <f:selectItems value="#{shippingController.orderList}" var="order" itemLabel="#{order.name}" itemValue="#{order}" />
                                </p:selectOneMenu>
                                <b:commandButton style="margin-left: 10%" ajax="true"  icon-awesome="fas fa-times" look="danger" update="@form" actionListener="#{shippingController.removeFromExistingOrderList(index.index)}" />
                            </h:panelGrid>
                        </ui:repeat> 
                        <b:commandButton look="important" icon-awesome="fas fa-plus" ajax="true" update="@form" value="New" style="width: 100%" actionListener="#{shippingController.addToExistingOrderList()}" />
                    </p:panelGrid>
                    <h:message id="m1" for="driverSelector" />
                    <h:message id="m2" for="carSelector" />

                    <br/>

                    <b:commandButton style="width: 27%" look="success" value="Save"  actionListener="#{shippingController.editShipping()}"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Shippings" outcome="shippings" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

