<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="edit_driver">
        <h:head>
            <title> MarketManager | Edit Driver </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{driverController.initExistingDriver()}" />
                </f:metadata>

                <h:form id = "driverEditForm" >

                    <p:resizable for="driverEditGrid" />

                    <h3>
                        <h:outputText value="Edit Driver"/>
                    </h3>

                    <p:panelGrid id ="driverEditGrid" columns="2">

                        <h:outputLabel value="License" for="licenseSelector" />
                        <p:selectOneMenu id="licenseSelector" value="#{driverController.driver.license}" >
                            <f:selectItems value="#{driverController.allLicenses()}" var="license" itemLabel="#{license.licenseType}" itemValue="#{license}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Status" for="statusSelector" />
                        <p:selectOneMenu id="statusSelector" value="#{driverController.driver.employee.activeStatus}" >
                            <f:selectItems value="#{driverController.allActiveStatus()}" var="activeStatus" itemLabel="#{activeStatus.acitvity}" itemValue="#{activeStatus}" />
                        </p:selectOneMenu>

                    </p:panelGrid>

                    <br/>

                    <b:commandButton look="success" value="Save" actionListener="#{driverController.editDriver()}" />

                    <br/><br/>
                    <b:button value ="Back to Drivers" outcome="drivers" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

