<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="employees">

        <h:head>
            <title> MarketManager | Employees </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{employeeController.init()}" />
                </f:metadata>

                <h:form id = "employeeForm" >

                    <b:growl id="growl" allowDismiss="true" /> 

                    <h3>
                        <h:outputText value="Employees"/>
                    </h3>

                    <b:button look="primary" outcome="new_employee" value ="New Employee"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('employeeForm:filter', 'employeeForm:filterb1', 'employeeForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('employeeForm:filter', 'employeeForm:filterb1', 'employeeForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="employeeName" />
                            <h:inputText value="#{employeeController.filteredName}" id="employeeName"  />

                            <h:outputLabel value="Email" for="employeeEmail" />
                            <h:inputText value="#{employeeController.filteredEmail}" id="employeeEmail"  />

                            <h:outputLabel value="Position" for="positionSelector" />
                            <p:selectOneMenu id="positionSelector" style="width: 96%" value="#{employeeController.filteredPosition}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{employeeController.allPositions()}" var="filteredPosition" itemLabel="#{filteredPosition.position}" itemValue="#{filteredPosition}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Show inactive" for="showInactive" />
                            <h:selectBooleanCheckbox id="showInactive" value="#{employeeController.showInactive}" />
                        </p:panelGrid>

                        <b:commandButton look="success" value="Filter" ajax="true" update="employeeForm:employeesTable" actionListener="#{employeeController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="employeesTable" markSearchResults="true" paginated="true" striped="true" select="false"  var="employee" value="#{employeeController.employeeList}">
                        <b:dataTableColumn label="Name">
                            <h:outputText value="#{employee.name} "/>
                            <h:outputText rendered="#{employeeController.activityRendered(employee)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Email">
                            <h:outputText value="#{employee.email}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Phone number">
                            <h:outputText value="#{employee.phoneNumber}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Position" style="width:12%">
                            <h:outputText value="#{employee.position.position}" />
                        </b:dataTableColumn>

                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_employee.xhtml?employee=#{employee.id}" />
                            <b:button look="primary" value="Edit" rendered="#{employeeController.employeeStatusActive(employee)}"  icon-awesome="fas fa-pencil" outcome="edit_employee.xhtml?employee=#{employee.id}" />
                            <b:commandButton look="danger" rendered="#{employeeController.employeeStatusActive(employee)}" ajax="true" value="Deactivate" update="@form" icon-awesome="fas fa-trash" actionListener="#{employeeController.deleteEmployee(employee)}" />
                        </b:dataTableColumn>

                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

