<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">



    <f:view contentType="text/html" id="view">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                
            </f:facet>
            <h:outputStylesheet library="css" name="main.css" /> 
            <h:outputScript library="js" name="main.js" />
        </h:head>

        <h:body id="body">

            <p:layout fullPage="true" id="fullLayout">

                <p:layoutUnit id="westLayout" style="overflow-x: hidden" position="west" size="175" header="Menu" collapsible="true" >
                    <h:form id="westForm">
                        <b:navBar  id="navBar"  style="background-color: #3c3f41;" fluid="true">
                            <b:navbarLinks id="navLinks" styleClass="fancyNavClass">
                                <b:navLink styleClass="fancyNavClass" value="Home" outcome="user_data"/>
                                <b:navLink styleClass="fancyNavClass" value="Partners" outcome="partners"/>
                                <b:navLink styleClass="fancyNavClass" value="Employees" rendered="#{userController.isUserInRole('admin')}" outcome="employees" />

                                <b:navLink id="navLink3"  styleClass="fancyNavClass" value="Shipping" outcome="shippings" />
                                <b:navLink styleClass="fancyNavClass" value="Orders" outcome="orders" />     

                                <b:navLink styleClass="fancyNavClass" value="Items" outcome="items" />
                                <b:navLink styleClass="fancyNavClass" value="Warehouses" outcome="warehouses" />

                                <b:navLink styleClass="fancyNavClass" value="Drivers" outcome="drivers" />
                                <b:navLink styleClass="fancyNavClass" value="Cars" outcome="cars" />

                                <b:navLink style="border-bottom: 1px solid grey;width: 200%" value="Tasks" outcome="tasks" />
                                <b:navLink value="Requests" outcome="requests" />
                            </b:navbarLinks>
                        </b:navBar>

                        <h:panelGrid columns="1">
                            <h:outputLabel value="Logged in as :" />
                            <h:outputText value="#{userController.loggedInUser.name}" style=" width: 100%;" />
                            <b:commandButton look="danger" value="Logout" style=" width: 100%" action="#{authenticationController.logout()}" />
                        </h:panelGrid>

                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit  position="center" id="mainLayout" styleClass="Bimage">
                    <ui:insert  name="user_data"/>
                    <ui:insert  name="edit_user"/>

                    <ui:insert  name="partners"/>
                    <ui:insert  name="new_partner"/>
                    <ui:insert  name="partner_edit"/>
                    <ui:insert  name="view_partner"/>

                    <ui:insert  name="employees"/>
                    <ui:insert  name="view_employee"/>
                    <ui:insert  name="new_employee"/>
                    <ui:insert  name="edit_employee"/>

                    <ui:insert  name="tasks"/>
                    <ui:insert  name="new_task"/>
                    <ui:insert  name="edit_task"/>
                    <ui:insert  name="view_task"/>

                    <ui:insert  name="requests"/>
                    <ui:insert  name="edit_request"/>
                    <ui:insert  name="view_request"/>
                    <ui:insert  name="new_request"/>

                    <ui:insert  name="cars"/>
                    <ui:insert  name="edit_car"/>
                    <ui:insert  name="view_car"/>
                    <ui:insert  name="new_car"/>

                    <ui:insert  name="drivers"/>
                    <ui:insert  name="view_driver"/>
                    <ui:insert  name="edit_driver"/>

                    <ui:insert  name="warehouses"/>
                    <ui:insert  name="edit_warehouse"/>
                    <ui:insert  name="view_warehouse"/>
                    <ui:insert  name="new_warehouse"/>

                    <ui:insert  name="items"/>
                    <ui:insert  name="edit_item"/>
                    <ui:insert  name="view_item"/>
                    <ui:insert  name="new_item"/>

                    <ui:insert  name="orders"/>
                    <ui:insert  name="view_order"/>
                    <ui:insert  name="new_order"/>

                    <ui:insert  name="shippings"/>
                    <ui:insert  name="edit_shipping"/>
                    <ui:insert  name="view_shipping"/>
                    <ui:insert  name="new_shipping"/>
                </p:layoutUnit>

            </p:layout>

            <script type="text/javascript">
                function test() {
                    document.body.style.backgroundColor = "grey";
                    document.getElementById("mainLayout").style.backgroundColor = "grey";
                    document.getElementById("ui-layout-unit-content ui-widget-content").style.backgroundColor = "grey";
                }
            </script>

        </h:body>


    </f:view>



</html>

