<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Market Manager | Sign in</title>
        <h:outputStylesheet library="css" name="main.css" />
    </h:head>
    <h:body styleClass="Bimage">
        <f:view>
            <f:metadata>
                <f:viewAction action="#{userController.alreadyLoggedIn()}" />
            </f:metadata>
            <p:graphicImage library="logo" name="logo.png" style="margin-left: 35%; margin-top: 17%"/>
            <h:panelGrid columns="2" style="margin-left: 43%;">
                <b:button  value="Sign in" outcome="login.xhtml"/>
                <b:button  value="Register" outcome="registration.xhtml"/>
            </h:panelGrid>
        </f:view>
    </h:body>
</html>

