<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="items">
        <h:head>
            <title> MarketManager | Items </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{itemController.init()}" />
                </f:metadata>


                <h:form id = "itemForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Items"/>
                    </h3>

                    <b:button look="primary" outcome="new_item" value ="New Item"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('itemForm:filter', 'itemForm:filterb1', 'itemForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('itemForm:filter', 'itemForm:filterb1', 'itemForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="itemName" />
                            <h:inputText value="#{itemController.filteredName}" id="itemName"  />

                            <h:outputLabel for="warehouseSelector" value="Warehouse"/>
                            <p:selectOneMenu style="width: 96%" id="warehouseSelector" converter="warehouseConverter"  value="#{itemController.filteredWarehouse}" filter="true" filterMatchMode="startsWith" >
                                <f:selectItem value="#{null}" />
                                <f:selectItems value="#{itemController.warehouseList}" var="warehouse" itemLabel="#{warehouse.name}" itemValue="#{warehouse}" />
                            </p:selectOneMenu>

                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="itemForm:itemsTable" actionListener="#{itemController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="itemsTable" markSearchResults="true" paginated="true" striped="true" select="false" var="item" value="#{itemController.itemList}">
                        <b:dataTableColumn label="Name" style="width: 20%">
                            <h:outputText value="#{item.name}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Quantity" style="width: 20%">
                            <h:outputText value="#{item.quantity}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Unit price" style="width: 20%">
                            <h:outputText value="#{item.unitPrice}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Warehouse">
                            <h:outputText value="#{item.warehouse.name}" style="width: 20%"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions" style="width: 20%">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_item.xhtml?item=#{item.id}" />
                            <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_item.xhtml?item=#{item.id}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

