<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Market Manager | Login</title>
        <h:outputStylesheet library="css" name="main.css" />
    </h:head>
    <h:body styleClass="Bimage">
        <f:view>

            <f:metadata>
                <f:viewAction action="#{authenticationController.init()}" />
            </f:metadata>

            <h:form id = "loginForm" style="margin-left: 42%; margin-top: 15%" >

                <h3 style="margin-left: 5%">
                    <h:outputText value="Login"/>
                </h3>

                <h:outputText id="validatorMessage" value="Your Email/Password is incorrect" style="display:none; color: red;" /> 

                <h:panelGrid id ="loginGrid" columns="1">

                    <h:outputLabel value="Email" for="email" />
                    <h:inputText id="email" value="#{authenticationController.user.email}"  required="true" requiredMessage="The Email field is required.">
                        <f:validator validatorId="emailValidator" />
                    </h:inputText>
                    <h:message id="m2" for="email" style="color:red"/> 

                    <h:outputLabel value="Password" for="password" />
                    <h:inputSecret id="password" value="#{authenticationController.user.pwd}" required="true" requiredMessage="The Password field is required."/>
                    <h:message id="m3" for="password" style="color:red"/> 

                </h:panelGrid>

                <br/>
                <b:commandButton style="width:10%" look="primary" action="#{authenticationController.login()}" value ="Login" update="@form"/>
                <b:button style="width:10%" value ="Register" outcome="registration.xhtml"/> 

                <h:panelGroup id ="script">
                    <h:outputScript>#{authenticationController.script}</h:outputScript>
                </h:panelGroup>

            </h:form>

        </f:view>

    </h:body>



</html>

