<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/home.xhtml">

    <ui:define name="new_partner">

        <h:head>
            <title> MarketManager | New Partner </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{partnerController.initNewPartner()}" />
                </f:metadata>

                <h:form id = "newPartnerForm" >
                    
                    <b:growl allow-dismiss="true" />

                    <h3>
                        <h:outputText value="New Partner"/>
                    </h3>

                    <p:panelGrid id ="newPartnerGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{partnerController.partner.name}" required="true" requiredMessage="The Name field is required."/>

                        <h:outputLabel value="Address" for="address" />
                        <h:inputText id="address" value="#{partnerController.partner.address}"  required="true" requiredMessage="The Address field is required."/>
                        
                        <h:outputLabel value="Email" for="email" />
                        <h:inputText id="email" value="#{partnerController.partner.email}"/>

                        <h:outputLabel value="Phone number" for="phone" />
                        <h:inputText id="phone" value="#{partnerController.partner.phoneNumber}" required="true" requiredMessage="The Phone number field is required."/>

                        <h:outputLabel value="Type " for="typeSelector" />
                        <p:selectOneMenu id="typeSelector" value="#{partnerController.partner.type}" style="width:125px">
                            <f:selectItems value="#{partnerController.partnerTypes}" />
                        </p:selectOneMenu>

                    </p:panelGrid>

                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="address" style="color:red"/> 
                        <h:message id="m3" for="phone" style="color:red"/> 
                    </h:panelGrid>

                    <br/>
                    <b:commandButton look="success"  value ="Add new partner" actionListener="#{partnerController.addNewPartner()}"  update="@form"/>

                    <br/><br/>
                    <b:button value ="Back to Partners" outcome="partners" icon-awesome="fas fa-chevron-left"/>

                    
                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

