<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="new_item">
        <h:head>
            <title> MarketManager | New Item </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{itemController.initNewItem()}" />
                </f:metadata>


                <h:form id = "newItemForm" >

                    <h3>
                        <h:outputText value="New Item"/>
                    </h3>

                    <br/><br/>

                    <p:panelGrid id ="newItemGrid" columns="2">
                        <h:outputLabel for="itemName" value="Name"/>
                        <h:inputText id ="itemName" value="#{itemController.item.name}"  required="true" requiredMessage="The Name field is required" />

                        <h:outputLabel for="quantity" value="Quantity"/>
                        <h:inputText id="quantity" value="#{itemController.item.quantity}" required="true" requiredMessage="The Quantity field is required"/>
                        
                        <h:outputLabel for="unitPrice" value="Unit price"/>
                        <h:inputText id="unitPrice" value="#{itemController.item.unitPrice}" required="true" requiredMessage="The Unit price field is required"/>

                        <h:outputLabel for="warehouseSelector" value="Warehouse"/>
                        <p:selectOneMenu id="warehouseSelector" converter="warehouseConverter"  value="#{itemController.item.warehouse}" filter="true" filterMatchMode="startsWith" required="true" requiredMessage="Selecting a warehouse is mandatory">
                            <f:selectItems value="#{itemController.warehouseList}" var="warehouse" itemLabel="#{warehouse.name}" itemValue="#{warehouse}" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <h:panelGrid columns="1">
                        <h:message id="m1" for="itemName" style="color:red"/> 
                        <h:message id="m2" for="quantity" style="color:red"/> 
                        <h:message id="m4" for="unitPrice" style="color:red"/> 
                        <h:message id="m3" for="warehouseSelector" style="color:red"/> 
                    </h:panelGrid>

                    <br/>
                    
                    <b:commandButton look="success" value="Save"  actionListener="#{itemController.addNewItem()}"/>
                    
                    <br/><br/>
                    <b:button value="Back to Items"  outcome="items.xhtml" icon-awesome="fas fa-chevron-left" />

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

