<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="new_order">
        <h:head>
            <title> MarketManager | New Order </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{orderController.initNewOrder()}" />
                </f:metadata>


                <h:form id = "newOrderForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="New Order"/>
                    </h3>

                    <br/><br/>

                    <p:panelGrid id ="NewOrderGrid" columns="2" style="width: 27%">
                        
                        <h:outputLabel value="Name" for="orderName"/>
                        <h:inputText value="#{orderController.order.name}" id="orderName" required="true" requiredMessage="The name field is required"/>

                        <h:outputLabel value="Partner" for="partnerSelector" />
                        <p:selectOneMenu id="partnerSelector" converter="partnerConverter" filter="true" filterMatchMode="startsWith" value="#{orderController.order.partner}" required="true" requiredMessage="The partner field is required">
                            <f:selectItems value="#{orderController.partnerList}" var="partner" itemLabel="#{partner.name}" itemValue="#{partner}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Type" for="typeSelector" />
                        <p:selectOneMenu id="typeSelector" value="#{orderController.order.orderType}">
                            <f:selectItems value="#{orderController.allOrderTypes()}" var="type" itemLabel="#{type.type}" itemValue="#{type}" />
                        </p:selectOneMenu>
                        
                        <h:outputLabel value="Due" for="dueDate" />
                        <p:calendar value="#{orderController.order.due}" id="dueDate" mindate="today" readonlyInput="true" mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn" required="true" requiredMessage = "Due date is required"/>

                    </p:panelGrid>

                    <p:panelGrid id ="itemsTextGrid" columns="1" style="width: 27%">
                        <h:outputLabel style="margin-left: 40%;" value="Items" for="items" />
                    </p:panelGrid>
                    <p:panelGrid id ="itemsNameAndQuantityGrid" columns="2" style="width: 27%">
                        <h:outputLabel style="margin-left: 35%;" value="Name" />
                        <h:outputLabel style="margin-left: 35%;" value="Quantity" />
                    </p:panelGrid>
                    <p:panelGrid id ="itemsGrid" columns="1" style="width: 27%">
                        <ui:repeat id="items" value="#{orderController.orderItemList}" varStatus="index" var="orderItem">

                            <h:panelGrid columns="3" >
                                <p:selectOneMenu id="itemSelector" converter="itemConverter" filter="true" filterMatchMode="startsWith" value="#{orderController.orderItemList[index.index].item}" required="true" requiredMessage="The item field is required">
                                    <f:selectItems value="#{orderController.itemList}" var="item" itemLabel="#{item.name}" itemValue="#{item}" />
                                </p:selectOneMenu>
                                <h:inputText style="margin-left: 10%; width:75%;" id="itemQcs" value="#{orderController.orderItemList[index.index].quantity}"/>
                                <b:commandButton style="margin-left: 10%" ajax="true"  icon-awesome="fas fa-times" look="danger" update="@form" actionListener="#{orderController.removeFromItemList(index.index)}" />
                            </h:panelGrid>
                        </ui:repeat> 
                        <b:commandButton look="important" icon-awesome="fas fa-plus" ajax="true" update="@form" value="New" style="width: 100%" actionListener="#{orderController.addToItemList()}" />
                    </p:panelGrid>

                    <br/>

                    <b:commandButton style="width: 27%" look="success" value="Save"  actionListener="#{orderController.addNewOrder()}"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Orders" outcome="orders" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

