<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="new_warehouse">
        <h:head>
            <title> MarketManager | New Warehouse </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{warehouseController.initNewWarehouse()}" />
                </f:metadata>

                <h:form id = "newWarehouseForm" >

                    <h3>
                        <h:outputText value="New Warehouse"/>
                    </h3>

                    <p:panelGrid id ="NewWarehouseGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{warehouseController.warehouse.name}" required = "true" requiredMessage="The Name field is required"/>


                        <h:outputLabel value="Address" for="address" />
                        <h:inputText id="address" value="#{warehouseController.warehouse.address}" required = "true" requiredMessage="The Address field is required"/>
                        
                    </p:panelGrid>
                    
                     <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="address" style="color:red"/> 
                    </h:panelGrid>

                    <br/>

                    <b:commandButton look="success"  value ="Add new warehouse" actionListener="#{warehouseController.addNewWarehouse()}"  update="@form"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Warehouses" outcome="warehouses" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

