<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="new_employee">
        <h:head>
                <title> MarketManager | New Employee </title>
        </h:head>
        
        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{employeeController.initNewEmployee()}" />
                </f:metadata>

                <h:form id = "newEmployeeForm" >

                    <h3>
                        <h:outputText value="New Employee"/>
                    </h3>
                    
                    <b:growl allowDismiss="true"  />

                    <p:panelGrid id ="newEmployeeGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{employeeController.employee.name}" required="true" requiredMessage="The Name field is required."/>

                        <h:outputLabel value="Email" for="email" />
                        <h:inputText id="email" value="#{employeeController.employee.email}"  required="true" requiredMessage="The Email field is required.">
                            <f:validator validatorId="emailValidator" />
                        </h:inputText>

                        <h:outputLabel value="Phone number" for="phone" />
                        <h:inputText id="phone" value="#{employeeController.employee.phoneNumber}" required="true" requiredMessage="The Phone number field is required."/>
                        
                        <h:outputLabel value="Position" for="positionSelector" />
                        <p:selectOneMenu id="positionSelector" filter="true" filterMatchMode="startsWith"  value="#{employeeController.employee.position}" required="true" requiredMessage="Selecting employee position is mandatory">
                            <f:selectItems value="#{employeeController.allPositions()}" var="position" itemLabel="#{position.position}" itemValue="#{position}" noSelectionValue="#{null}"/>
                        </p:selectOneMenu>
                        

                    </p:panelGrid>
                    
                    
                    <h:outputText style="color: lightcoral" value="The default password for a new employee is 'new_employee'" />
                    
                    <br/><br/>
                    
                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="email" style="color:red"/> 
                        <h:message id="m3" for="phone" style="color:red"/> 
                        <h:message id="m4" for="positionSelector" style="color:red"/> 
                    </h:panelGrid>
                    
                   
                    
                    <b:commandButton look="success"  value ="Add new employee" actionListener="#{employeeController.addNewEmployee()}" update="@form"/>
                    
                    <br/><br/>
                    <b:button value ="Back to Employees" outcome="employees" icon-awesome="fas fa-chevron-left"/>


                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

