<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/home.xhtml">

    <ui:define name="new_task">

        <h:head>
            <title> MarketManager | New Task </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{taskController.initNewTask()}" />
                </f:metadata>

                <h:form id = "newTaskForm" >

                    <h3>
                        <h:outputText value="New Task"/>
                    </h3>

                    <p:panelGrid id ="newTaskGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{taskController.task.name}" required="true" requiredMessage="The Name field is required."/>

                        <h:outputLabel value="Date" for="date" />
                        <p:calendar value="#{taskController.task.taskDate}" id="date" readonlyInput="true"  mode="popup" showOn="both" mindate="today" pattern="yyyy.MM.dd" effect="fadeIn" required="true" requiredMessage="The Date field is required"/>


                        <h:outputLabel value="Employee" for="employeeSelector" />
                        <p:selectOneMenu id="employeeSelector" converter="employeeConverter"  value="#{taskController.task.employee}" filter="true" filterMatchMode="startsWith" required="true" requiredMessage="Selecting an employee is mandatory">
                            <f:selectItems value="#{taskController.employees}" var="employee" itemLabel="#{employee.name}" itemValue="#{employee}" />
                        </p:selectOneMenu>


                        <h:outputLabel value="Description" for="description" />
                        <h:inputTextarea id="description" style="width: 95%; height: 150px" value="#{taskController.task.description}" />


                    </p:panelGrid>
                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="date" style="color:red"/> 
                        <h:message id="m3" for="employeeSelector" style="color:red"/> 
                    </h:panelGrid>

                    <br/>

                    <b:commandButton look="success"  value ="Add new task" actionListener="#{taskController.addNewTask()}"  update="@form"/>

                    <br/><br/>
                    <b:button value ="Back to Tasks" outcome="tasks" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

