<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="orders">
        <h:head>
            <title> MarketManager | Orders </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{orderController.init()}" />
                </f:metadata>


                <h:form id = "orderForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Orders"/>
                    </h3>

                    <b:button look="primary" outcome="new_order" value ="New Order"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('orderForm:filter', 'orderForm:filterb1', 'orderForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('orderForm:filter', 'orderForm:filterb1', 'orderForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Partner" for="partnerSelector" />
                            <p:selectOneMenu id="partnerSelector" style="width: 96%" converter="partnerConverter" filter="true" filterMatchMode="startsWith" value="#{orderController.filteredPartner}">
                                <f:selectItem value="#{null}" />
                                <f:selectItems value="#{orderController.partnerList}" var="partner" itemLabel="#{partner.name}" itemValue="#{partner}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Created" for="createdDate" />
                            <p:calendar value="#{orderController.filteredCreated}" id="createdDate"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn"/>

                            <h:outputLabel value="Completed" for="completedDate" />
                            <p:calendar value="#{orderController.filteredCompleted}" id="completedDate"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn"/>

                            <h:outputLabel value="Due" for="filteredDueDate" />
                            <p:calendar value="#{orderController.filteredDue}" id="filteredDueDate"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn"/>

                            <h:outputLabel value="Show storno" for="showStorno" />
                            <h:selectBooleanCheckbox id="showStorno" value="#{orderController.showStorno}" />
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="orderForm:ordersTable" actionListener="#{orderController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="ordersTable" markSearchResults="true" paginated="true" striped="true" select="false" var="order" value="#{orderController.orderList}">
                        <b:dataTableColumn label="Name" style="width:10%">
                            <h:outputText value="#{order.name}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Partner">
                            <h:link outcome="view_partner.xhtml?partner=#{order.partner.id}" value="#{order.partner.name} "/>
                            <h:outputText value="(Inactive)" style="color : red;" rendered="#{orderController.activityRenderedForPartner(order.partner)}" />
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Items" style="width: 15%">
                            <h:outputText rendered="#{order.orderItemList.size() > 1}" value="#{orderController.firstItemOfOrder(order)} , ..."/>
                            <h:outputText rendered="#{order.orderItemList.size() == 1}" value="#{orderController.firstItemOfOrder(order)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Created" style="width:10%">
                            <h:outputText value="#{orderController.formattedDateInString(order.created)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Due" style="width : 10%">
                            <h:outputText id="due" value="#{orderController.formattedDateInString(order.due)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Completed" style="width:10%">
                            <h:outputText value="#{orderController.formattedDateInString(order.completed)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Type" style="width:10%">
                            <h:outputText value="#{order.orderType.type}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_order.xhtml?order=#{order.id}" />

                            <b:commandButton rendered="#{orderController.orderActive(order)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check" actionListener="#{orderController.completeOrder(order)}" />

                            <b:commandButton rendered="#{orderController.orderActive(order)}" look="danger" ajax="true" value="Storno" update="@form" icon-awesome="fas fa-trash" actionListener="#{orderController.deleteOrder(order)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

