<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="partner_edit">
        <h:head>
            <title> MarketManager | Edit Partner </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{partnerController.initExistingPartner()}" />
                </f:metadata>

                <h:form id = "parntnerEditForm" >
                    
                    <h3>
                        <h:outputText value="Edit Partner"/>
                    </h3>
                    
                    <p:resizable for="partnerEditGrid" />

                    <p:panelGrid id ="partnerEditGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:inputText id="name" value="#{partnerController.partner.name}" required="true" requiredMessage="The Name field is required."/>


                        <h:outputLabel value="Address" for="address" />
                        <h:inputText id="address" value="#{partnerController.partner.address}"  required="true" requiredMessage="The Address field is required."/>
                        
                        <h:outputLabel value="Email" for="email" />
                        <h:inputText id="email" value="#{partnerController.partner.email}" required="false" />

                        <h:outputLabel value="Phone number" for="phone" />
                        <h:inputText id="phone" value="#{partnerController.partner.phoneNumber}" required="true" requiredMessage="The Phone number field is required."/>


                        <h:outputLabel value="Type " for="typeSelector" />
                        <p:selectOneMenu id="typeSelector" value="#{partnerController.partner.type}" style="width:125px">
                            <f:selectItems value="#{partnerController.partnerTypes}" />
                        </p:selectOneMenu>
                        
                        <h:outputLabel value="Status" for="statusSelector" />
                        <p:selectOneMenu id="statusSelector" value="#{partnerController.partner.activeStatus}" >
                            <f:selectItems value="#{partnerController.allActiveStatus()}" var="activeStatus" itemLabel="#{activeStatus.acitvity}" itemValue="#{activeStatus}" />
                        </p:selectOneMenu>

                    </p:panelGrid>

                    <h:panelGrid columns="1">
                        <h:message id="m1" for="name" style="color:red"/> 
                        <h:message id="m2" for="address" style="color:red"/> 
                        <h:message id="m3" for="phone" style="color:red"/> 
                        <h:message id="m4" for="email" style="color:red"/> 
                    </h:panelGrid>

                    <br/>

                    <b:commandButton look="success"  value ="Save" actionListener="#{partnerController.editPartner()}" update="@form" />
                    
                    <br/><br/>
                    <b:button value ="Back to Partners" outcome="partners" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

