<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="partners">
        <h:head>
            <title> MarketManager | Partners </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{partnerController.init()}" />
                </f:metadata>


                <h:form id = "partnerForm">

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Partners"/>
                    </h3>

                    <b:button look="primary" outcome="new_partner" value ="New Partner"/> 

                    <br/><br/>
                    
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('partnerForm:filter','partnerForm:filterb1','partnerForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('partnerForm:filter','partnerForm:filterb1','partnerForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2" >
                            <h:outputLabel value="Name" for="partnerName"  />
                            <h:inputText value="#{partnerController.filteredName}" id="partnerName"  />

                            <h:outputLabel value="Email" for="partnerEmail" />
                            <h:inputText value="#{partnerController.filteredEmail}" id="partnerEmail"  />

                            <h:outputLabel value="Type" for="partnerTypeSelector" />
                            <b:selectOneMenu id="partnerTypeSelector" style="width : 96%" value="#{partnerController.filteredType}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{partnerController.partnerTypes}" var="filteredType" itemLabel="#{filteredType}" itemValue="#{filteredType}" />
                            </b:selectOneMenu>

                            <h:outputLabel value="Show inactive" for="showInactive" />
                            <h:selectBooleanCheckbox  id="showInactive" value="#{partnerController.showInactive}" />
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="partnerForm:partnerTable" actionListener="#{partnerController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="partnerTable" markSearchResults="true" paginated="true" striped="true" select="false"
                                 var="partner" value="#{partnerController.partnerList}">
                        <b:dataTableColumn label="Partner" >
                            <h:outputText value="#{partner.name} "/>
                            <h:outputText rendered="#{partnerController.activityRendered(partner)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn  >
                        <b:dataTableColumn label="Address">
                            <h:outputText value="#{partner.address}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Email">
                            <h:outputText value="#{partner.email}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Phone number" >
                            <h:outputText value="#{partner.phoneNumber}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Type">
                            <h:outputText value="#{partner.type}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_partner.xhtml?partner=#{partner.id}" />
                            <b:button look="primary" value="Edit" rendered="#{partnerController.partnerStatusActive(partner)}" icon-awesome="fas fa-pencil" outcome="partner_edit.xhtml?partner=#{partner.id}" />
                            <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{partnerController.partnerStatusActive(partner)}"  update="@form" icon-awesome="fas fa-trash" actionListener="#{partnerController.deletePartner(partner)}" />
                            <b:commandButton look="danger" ajax="true" value="Delete" rendered="#{not partnerController.partnerStatusActive(partner)}"  update="@form" icon-awesome="fas fa-trash" actionListener="#{partnerController.permanentDelete(partner)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

