<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Market Manager | Registration</title>
        <h:outputStylesheet library="css" name="main.css" />
    </h:head>
    <h:body styleClass="Bimage">
        <f:view>

            <f:metadata>
                <f:viewAction action="#{authenticationController.init()}" />
            </f:metadata>

            <h:form id="registrationForm" style="margin-left: 42%; margin-top: 12%">
                
                

                <h3 style="margin-left: 2%">
                    <h:outputText value="Registration"/>
                </h3>

                <h:panelGrid id ="registrationGrid" columns="1">
                    <h:outputLabel value="Name" for="name" />
                    <h:inputText id="name" value="#{authenticationController.user.name}" required="true" requiredMessage="The Name field is required."/>
                    <h:message id="m1" for="name" style="color:red"/> 

                    <h:outputLabel value="Email" for="email" />
                    <h:inputText id="email" value="#{authenticationController.user.email}"  required="true" requiredMessage="The Email field is required.">
                        <f:validator validatorId="emailValidator" />
                    </h:inputText>
                    <h:message id="m2" for="email" style="color:red"/> 
                    
                     <h:outputLabel value="Phone number" for="phone_number" />
                    <h:inputText id="phone_number" value="#{authenticationController.phoneNumber}" required="true" requiredMessage="The Phone number field is required." />
                    <h:message id="m5" for="phone_number" style="color:red"/>

                    <h:outputLabel value="Password" for="password" />
                    <h:inputSecret id="password" value="#{authenticationController.user.pwd}" required="true" requiredMessage="The Password field is required."/>
                    <h:message id="m3" for="password" style="color:red"/> 

                    <h:outputLabel value="Confirm password" for="confirm_password" />
                    <h:inputSecret id="confirm_password" value="#{authenticationController.confirmPassword}" required="true" requiredMessage="The Confirm Password field is required." />
                    <h:message id="m4" for="confirm_password" style="color:red"/>

                </h:panelGrid>

                <br/>
                 <b:commandButton ajax="true"  look="primary"  action="#{authenticationController.register()}" value ="Register" update="@form"/> 
                <b:button   outcome="login.xhtml" value ="I have an account"/> 

            </h:form>

        </f:view>

    </h:body>
</html>

