<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Market Manager | Registration successful</title>
        <h:outputStylesheet library="css" name="main.css" />
    </h:head>
    <h:body styleClass="Bimage">
        <f:view>
            <f:metadata>
                <f:viewAction action="#{userController.alreadyLoggedIn()}" />
            </f:metadata>

            <h3 style="margin-left: 32%;margin-top: 16%;">Your account has been successfully created</h3>
            <br/><br/>
            <b:button style="margin-left: 40%;;" look="primary" outcome="index.xhtml" value="Go back to home page" />  
        </f:view>
    </h:body>
</html>