<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="requests">
        <h:head>
            <title> MarketManager | Requests </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{requestController.init()}" />
                </f:metadata>


                <h:form id = "requestForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Requests"/>
                    </h3>

                    <br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('requestForm:filter', 'requestForm:filterb1', 'requestForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('requestForm:filter', 'requestForm:filterb1', 'requestForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Task" for="taskSelector" />
                            <p:selectOneMenu id="taskSelector" style="width: 80%;" converter="taskConverter"  value="#{requestController.filteredTask}" filter="true" filterMatchMode="startsWith">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{requestController.tasks}" var="task" itemLabel="#{task.name}" itemValue="#{task}" />
                            </p:selectOneMenu>

                            <h:outputLabel rendered="#{taskController.isUserInRole('admin')}" value="Employee" for="employeeSelector" />
                            <p:selectOneMenu id="employeeSelector" style="width: 80%;" rendered="#{taskController.isUserInRole('admin')}" converter="employeeConverter" filter="true" filterMatchMode="startsWith"  value="#{requestController.filteredEmployee}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{requestController.employees}" var="employee" itemLabel="#{employee.name}" itemValue="#{employee}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Date" for="date" />
                            <p:calendar value="#{requestController.filteredDate}" id="date"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn"/>

                            <h:outputLabel  value="Status" for="statusSelector" />
                            <p:selectOneMenu id="statusSelector" style="width: 80%;" value="#{requestController.filteredStatus}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{requestController.statusList}" var="status" itemLabel="#{status}" itemValue="#{status}" />
                            </p:selectOneMenu>
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="requestForm:requestTableForUser,requestForm:requestTableForAdmin" actionListener="#{requestController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable  rendered="#{taskController.isUserInRole('admin')}" lang="eng" id ="requestTableForAdmin" markSearchResults="true" paginated="true" striped="true" select="false" var="req" value="#{requestController.requestList}">
                        <b:dataTableColumn label="Task">
                            <h:link value="#{req.task.name} " outcome="view_task.xhtml?task=#{req.task.id}"/>
                            <h:outputText rendered="#{requestController.activityRenderedForTask(req)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Responsible">
                            <h:link outcome="view_employee.xhtml?employee=#{req.employee.id}" value="#{req.employee.name} " />
                            <h:outputText rendered="#{requestController.activityRendered(req)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Date" style="width: 10%">
                            <h:outputText value="#{requestController.formattedDateInString(req.requestDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Status">
                            <h:outputText value="#{req.status}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-align="right" icon-awesome="fas fa-eye" outcome="view_request?req=#{req.id}" />

                            <b:commandButton rendered="#{not req.status.equals('Accepted') and requestController.taskStatusActive(req.task)}" ajax="true" look="success"  value="Accept" update="@form" icon-awesome="fas fa-check-square" actionListener="#{requestController.acceptRequest(req)}" />
                            <b:commandButton rendered="#{not req.status.equals('Declined') and requestController.taskStatusActive(req.task)}" ajax="true" look="danger" value="Decline" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{requestController.declineRequest(req)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                    <b:dataTable  rendered="#{taskController.isUserInRole('user')}" lang="eng" id ="requestTableForUser" markSearchResults="true" paginated="true" striped="true" select="false" var="req" value="#{requestController.requestListForUser}">
                        <b:dataTableColumn label="Task">
                            <h:link value="#{req.task.name} " outcome="view_task.xhtml?task=#{req.task.id}"/>
                            <h:outputText rendered="#{requestController.activityRenderedForTask(req)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Responsible">
                            <h:outputText value="#{req.employee.name} "/>
                            <h:outputText rendered="#{requestController.activityRendered(req)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Date" >
                            <h:outputText value="#{requestController.formattedDateInString(req.requestDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Status">
                            <h:outputText value="#{req.status}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button  look="info" value="View"  icon-awesome="fas fa-eye" outcome="view_request?req=#{req.id}" />
                            <b:button look="primary" rendered="#{req.status.equals('Pending')  and requestController.taskStatusActive(req.task)}"  value="Edit" icon-awesome="fas fa-pencil" outcome="edit_request?req=#{req.id}" />
                            <b:commandButton look="danger" rendered="#{req.status.equals('Pending') and requestController.taskStatusActive(req.task)}" ajax="true" value="Delete" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{requestController.deleteRequest(req)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

