<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="shippings">
        <h:head>
            <title> MarketManager | Shippings </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{shippingController.init()}" />
                </f:metadata>


                <h:form id = "shippingForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Shippings"/>
                    </h3>

                    <b:button rendered="#{shippingController.isUserInRole('admin')}" look="primary" outcome="new_shipping" value ="New Shipping"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('shippingForm:filter', 'shippingForm:filterb1', 'shippingForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('shippingForm:filter', 'shippingForm:filterb1', 'shippingForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Driver" for="driverSelector" />
                            <p:selectOneMenu id="driverSelector" style="width : 96%" filter="true" filterMatchMode="startsWith" converter="driverConverter" value="#{shippingController.filteredDriver}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{shippingController.driverList}" var="filteredDriver" itemLabel="#{filteredDriver.employee.name}" itemValue="#{filteredDriver}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Order" for="orderSelector" />
                            <p:selectOneMenu id="orderSelector" style="width : 96%" filter="true" filterMatchMode="startsWith" converter="orderConverter" value="#{shippingController.filteredOrder}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{shippingController.orderList}" var="filteredOrder" itemLabel="#{filteredOrder.name}" itemValue="#{filteredOrder}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Shipping date" for="filteredShipping" />
                            <p:calendar value="#{shippingController.filteredShippingDate}" id="filteredShipping" mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn" />

                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="shippingForm:shippingTable" actionListener="#{shippingController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="shippingTable" markSearchResults="true" paginated="true" striped="true" select="false"
                                 var="shipping" value="#{shippingController.shippingList}">
                        <b:dataTableColumn label="Driver" >
                            <h:outputText value="#{shipping.driver.employee.name} " rendered="#{shippingController.isUserInRole('user')}" />
                            <h:link value="#{shipping.driver.employee.name} "  outcome="view_employee.xhtml?employee=#{shipping.driver.employee.id}" rendered="#{shippingController.isUserInRole('admin')}"/>
                            <h:outputText value="(Inactive)" style="color:red;" rendered="#{shippingController.activityRenderedForEmployee(shipping.driver.employee)}" />
                        </b:dataTableColumn  >
                        <b:dataTableColumn label="Orders" >
                            <h:outputText value="#{shipping.orderList.get(0).name}" rendered="#{shipping.orderList.size() == 1}"/>
                            <h:outputText value="#{shipping.orderList.get(0).name}, ..." rendered="#{shipping.orderList.size() > 1}"/>
                        </b:dataTableColumn  >
                        <b:dataTableColumn label="Address">
                            <h:outputText value="#{shipping.orderList.get(0).partner.address}" rendered="#{shipping.orderList.size() == 1}" />
                            <h:outputText value="#{shipping.orderList.get(0).partner.address}, ..." rendered="#{shipping.orderList.size() > 1}" />
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Car">
                            <h:link value="#{shipping.car.name}" outcome="view_car.xhtml?car=#{shipping.car.id}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Shipping Date" >
                            <h:outputText value="#{shippingController.formattedDateInString(shipping.shippingDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Status" >
                            <h:outputText value="#{shipping.status.status}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_shipping.xhtml?shipping=#{shipping.id}" />
                            <b:commandButton look="primary" value="On the way" rendered="#{shippingController.isUserInRole('user') and shippingController.shippingStatusActive(shipping)}" icon-awesome="fas fa-truck" actionListener="#{shippingController.shippingOnTheWay(shipping)}" />
                            <b:commandButton look="success" value="All done" rendered="#{shippingController.isUserInRole('user') and not shippingController.shippingStatusDone(shipping)}" icon-awesome="fas fa-check" actionListener="#{shippingController.doneAll(shipping)}" />
                            <b:button look="primary" value="Edit" rendered="#{shippingController.isUserInRole('admin') and shippingController.shippingStatusActive(shipping)}" icon-awesome="fas fa-pencil" outcome="edit_shipping.xhtml?shipping=#{shipping.id}" />
                            <b:commandButton look="danger" ajax="true" rendered="#{shippingController.isUserInRole('admin') and shippingController.shippingStatusActive(shipping)}" value="Delete"  update="@form" icon-awesome="fas fa-trash" actionListener="#{shippingController.deleteShipping(shipping)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

