<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="tasks">
        <h:head>
            <title> MarketManager | Tasks </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{taskController.init()}" />
                </f:metadata>


                <h:form id = "taskForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Tasks"/>
                    </h3>

                    <b:button look="primary" rendered="#{taskController.isUserInRole('admin')}" outcome="new_task" value ="New Task"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('taskForm:filter', 'taskForm:filterb1', 'taskForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('taskForm:filter', 'taskForm:filterb1', 'taskForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="taskName" />
                            <h:inputText value="#{taskController.filteredName}" id="taskName"  style="width: 96%"/>

                            <h:outputLabel value="Date" for="date" />
                            <p:calendar  value="#{taskController.filteredDate}" id="date"  mode="popup" showOn="both" pattern="yyyy.MM.dd" effect="fadeIn"/>

                            <h:outputLabel rendered="#{taskController.isUserInRole('admin')}" value="Employee" for="employeeSelector" />
                            <p:selectOneMenu id="employeeSelector" rendered="#{taskController.isUserInRole('admin')}" style="width: 96%" converter="employeeConverter" filter="true" filterMatchMode="startsWith" value="#{taskController.filteredEmployee}">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{taskController.employees}" var="employee" itemLabel="#{employee.name}" itemValue="#{employee}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Done" for="doneSelector" />
                            <p:selectOneMenu id="doneSelector"  value="#{taskController.filteredDone}" style="width: 96%">
                                <f:selectItem itemValue="#{null}"/>
                                <f:selectItems value="#{taskController.donePossibilities}" var="filteredDone" itemLabel="#{filteredDone}" itemValue="#{filteredDone}" />
                            </p:selectOneMenu>

                            <h:outputLabel value="Show inactive" for="showInactive" />
                            <h:selectBooleanCheckbox id="showInactive" value="#{taskController.showInactive}" />
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="taskForm:taskTableForAdmin,taskForm:taskTableForUser" actionListener="#{taskController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>


                    <b:dataTable  rendered="#{taskController.isUserInRole('admin')}" lang="eng" id ="taskTableForAdmin" markSearchResults="true" paginated="true" striped="true" select="false" var="task" value="#{taskController.taskList}">
                        <b:dataTableColumn label="Name" style="width: 15%">
                            <h:outputText value="#{task.name} "/>
                            <h:outputText rendered="#{taskController.activityRenderedForTask(task)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Date" style="width: 12%">
                            <h:outputText value="#{taskController.formattedDateInString(task.taskDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Responsible">
                            <h:link outcome="view_employee.xhtml?employee=#{task.employee.id}" value="#{task.employee.name} " />
                            <h:outputText rendered="#{taskController.activityRendered(task)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Done" style="width: 12%">
                            <h:outputText value="#{task.done}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Completion date" style="width: 12%">
                            <h:outputText value="#{taskController.formattedDateInString(task.completionDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_task.xhtml?task=#{task.id}" />
                            <b:commandButton rendered="#{not task.doneBool and taskController.taskStatusActive(task) and taskController.ownAdminTask(task)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check-circle" actionListener="#{taskController.taskDone(task)}" />
                            <b:commandButton rendered="#{task.doneBool and taskController.taskStatusActive(task) and taskController.ownAdminTask(task)}" look="warning" ajax="true" value="Not done" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{taskController.taskUndone(task)}" />
                            <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" rendered="#{taskController.taskStatusActive(task) and not task.doneBool}" outcome="edit_task.xhtml?task=#{task.id}" />
                            <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{taskController.taskStatusActive(task) and not task.doneBool}" update="@form" icon-awesome="fas fa-trash" actionListener="#{taskController.deleteTask(task)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                    <b:dataTable  rendered="#{taskController.isUserInRole('user')}" lang="eng" id ="taskTableForUser" markSearchResults="true" paginated="true" striped="true" select="false" var="task" value="#{taskController.taskListForUser}">
                        <b:dataTableColumn label="Name">
                            <h:outputText value="#{task.name} "/>
                            <h:outputText rendered="#{taskController.activityRenderedForTask(task)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Date" style="width: 10%">
                            <h:outputText value="#{taskController.formattedDateInString(task.taskDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Responsible">
                            <h:outputText value="#{task.employee.name}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Done" style="width: 5%">
                            <h:outputText value="#{task.done}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Completion date" style="width: 10%">
                            <h:outputText value="#{taskController.formattedDateInString(task.completionDate)}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_task.xhtml?task=#{task.id}" />
                            <b:commandButton rendered="#{not task.doneBool and taskController.taskStatusActive(task)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check-circle" actionListener="#{taskController.taskDone(task)}" />
                            <b:commandButton rendered="#{task.doneBool and taskController.taskStatusActive(task)}" look="danger" ajax="true" value="Not done" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{taskController.taskUndone(task)}" />
                            <b:button value="Request" rendered="#{not task.doneBool and  not taskController.taskAlreadyHaveRequest(task) and taskController.taskStatusActive(task)}" look="primary" icon-awesome="fas fa-file" outcome="new_request?task=#{task.id}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

