<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="user_data">

        <h:head>
            <title> Market Manager | Home </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{employeeController.initLoggedInEmployee()}" />
                </f:metadata>

                <h:form id = "userDataForm" >
                    <p:resizable for="userViewGrid"  />
                    <h3>
                        <h:outputText value="User information"/>
                    </h3>


                    <p:panelGrid id ="userViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{employeeController.loggedInEmployee.name}" />

                        <h:outputLabel value="Email" for="email" />
                        <h:outputText id="email" value="#{employeeController.loggedInEmployee.email}" />

                        <h:outputLabel value="Phone" for="phone" />
                        <h:outputText id="phone" value="#{employeeController.loggedInEmployee.phoneNumber}" />

                        <h:outputLabel value="Position" for="position" />
                        <h:outputText id="position" value="#{employeeController.loggedInEmployee.position.position}" />
                        
                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" value="#{employeeController.loggedInEmployee.activeStatus.acitvity}" style="color : #{employeeController.activeStyleColorForUser()};"/>

                    </p:panelGrid>
                    
                    <br/>

                    <b:button look="primary" value = "Edit" outcome="edit_user?employee=#{employeeController.loggedInEmployee.id}" />

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

