<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_shipping">
        <h:head>
            <title> MarketManager | View Shipping </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{shippingController.initExistingShipping()}" />
                </f:metadata>

                <h3>
                    <h:outputText value="View Shipping"/>
                </h3>

                <br/>

                <h:form target="_blank" >
                    <b:commandButton look="primary" icon-awesome="fas fa-print" value="Print" actionListener="#{shippingController.printShipping()}" />

                </h:form>

                <h:form id = "viewShippingForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <br/>

                    <p:panelGrid id ="ViewShippingGrid" columns="2" style="width: 50%">

                        <h:outputLabel value="Driver"  />
                        <h:panelGrid columns="2" >
                            <h:link value="#{shippingController.shipping.driver.employee.name}"  outcome="view_employee.xhtml?employee=#{shippingController.shipping.driver.employee.id}" rendered="#{shippingController.isUserInRole('admin')}"/>
                            <h:outputText id ="driver"  rendered="#{shippingController.isUserInRole('user')}" value="#{shippingController.shipping.driver.employee.name}" />
                            <h:outputText value=" (Inactive)" style="color:red;" rendered="#{shippingController.activityRenderedForEmployee(shippingController.shipping.driver.employee)}" />
                        </h:panelGrid>

                        <h:outputLabel value="Car" for="car" />
                        <h:link id ="car" outcome="view_car.xhtml?car=#{shippingController.shipping.car.id}" value="#{shippingController.shipping.car.name}" />

                        <h:outputLabel value="Shipping Date" for="shippingDate" />
                        <h:outputText id ="shippingDate" value="#{shippingController.formattedDateInString(shippingController.shipping.shippingDate)}" />

                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id ="status" value="#{shippingController.shipping.status.status}" />

                    </p:panelGrid>

                    <p:panelGrid id ="ordersGrid" columns="1" style="width: 50%">
                        <h:outputLabel style="margin-left: 45%;" value="Orders" for="orders" />
                    </p:panelGrid>

                    <b:panelGrid columns="6" style="width: 50%; border: 1px solid grey;">
                        <h:outputText   value = "Name" />
                        <h:outputText   value = "Address" />
                        <h:outputText value="Type" />
                        <h:outputText  value = "Sum" />
                        <h:outputText   value = "Status" />
                        <h:outputText  value="Action" />
                    </b:panelGrid>

                    <ui:repeat id="orders" value="#{shippingController.shipping.orderList}" varStatus="index" var="shippingOrder">
                        <b:panelGrid id="uiOrdersGrid" columns="6" style=" column-span: none; width: 50%; border: 1px solid grey;">
                            <h:link outcome="view_order.xhtml?order=#{shippingOrder.id}"   value="#{shippingOrder.name}" />
                            <h:outputText value="#{shippingOrder.partner.address}" />
                            <h:outputText value="#{shippingOrder.orderType.type}" />
                            <h:outputText   value="#{shippingOrder.sumPrice}" />
                            <h:outputText style="width : 5% !important;" value="#{shippingOrder.status.status}" />
                            <b:commandButton rendered="#{shippingController.isUserInRole('user') and shippingController.orderStatusActive(shippingOrder)}" value="Done" look="success" actionListener="#{shippingController.doneOrder(shippingOrder)}" update="@parent" ajax="true" />
                        </b:panelGrid>
                    </ui:repeat> 


                    <br/>

                    <b:commandButton rendered="#{shippingController.isUserInRole('user') and shippingController.shippingStatusActiveOrOnTheWay(shippingController.shipping)}" icon-awesome="fas fa-check"  value="All done" look="success" actionListener="#{shippingController.doneAll(shippingController.shipping)}" update="@form" ajax="true" />
                    <b:commandButton look="primary" value="On the way" rendered="#{shippingController.isUserInRole('user') and  shippingController.shippingStatusActive(shippingController.shipping)}" icon-awesome="fas fa-truck" actionListener="#{shippingController.shippingOnTheWay(shippingController.shipping)}" />
                    <b:button  rendered="#{shippingController.isUserInRole('admin') and shippingController.shippingStatusActive(shippingController.shipping)}" look="primary" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_shipping.xhtml?shipping=#{shippingController.shipping.id}" />
                    <b:commandButton  rendered="#{shippingController.isUserInRole('admin') and not shippingController.shippingStatusDone(shippingController.shipping)}"  look="danger" value="Delete" icon-awesome="fas fa-trash" actionListener="#{shippingController.deleteShipping(shippingController.shipping)}"/>

                    <br/><br/>
                    <b:button value ="Back to Shippings" outcome="shippings" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

