<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="home.xhtml">

    <ui:define name="view_employee">

        <h:head>
            <title> MarketManager | View Employee </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{employeeController.initExistingEmployee()}" />
                </f:metadata>

                <h:form id = "employeeViewForm" >
                    
                    <p:resizable for="employeeViewGrid"  />
                    
                    <b:growl id="growl" allowDismiss="true" /> 

                    <h3>
                        <h:outputText value="View Employee"/>
                    </h3>

                    <p:panelGrid id ="employeeViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{employeeController.employee.name}"/>


                        <h:outputLabel value="Email" for="email" />
                        <h:outputText id="email" value="#{employeeController.employee.email}" />


                        <h:outputLabel value="Phone number" for="phone" />
                        <h:outputText id="phone" value="#{employeeController.employee.phoneNumber}"/>


                        <h:outputLabel value="Position" for="position" />
                        <h:outputText id="position" value="#{employeeController.employee.position.position}"/>

                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" value="#{employeeController.employee.activeStatus.acitvity}" style="color : #{employeeController.activeStyleColor()}"/>

                        <h:outputLabel value="Admin" for="adminCheck" />
                        <h:selectBooleanCheckbox value="#{employeeController.adminCheckBox}" disabled="true"  id="adminCheck"/>

                    </p:panelGrid>

                    <br/>

                    <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" rendered="#{employeeController.employeeStatusActive(employeeController.employee)}" outcome="edit_employee.xhtml?employee=#{employeeController.employee.id}" />
                    <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{employeeController.employeeStatusActive(employeeController.employee)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{employeeController.deleteEmployee(employeeController.employee)}" />

                    <br/><br/>
                    <b:button value ="Back to Employees" outcome="employees" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

