<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_car">
        <h:head>
            <title> MarketManager | View Car </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{carController.initExistingCar()}" />
                </f:metadata>

                <h:form id = "carViewForm" >
                    <p:resizable for="carViewGrid"  />

                    <h3>
                        <h:outputText value="View Car"/>
                    </h3>

                    <p:panelGrid id ="carViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{carController.car.name}"/>

                        <h:outputLabel value="Type" for="type" />
                        <h:outputText id="type" value="#{carController.car.type.carType}"/>
                        
                        <h:outputLabel value="Required license" for="license" />
                        <h:outputText id="license" value="#{carController.car.requiredLicense.licenseType}"/>

                        <h:outputLabel value="Plate number" for="plate" />
                        <h:outputText id="plate" value="#{carController.car.plateNumber}"/>

                        <h:outputLabel value="Condition" for="condition" />
                        <h:outputText id="condition" value="#{carController.car.condition.condition}"/>

                    </p:panelGrid>

                    <br/>

                    <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_car.xhtml?car=#{carController.car.id}" />

                    <br/><br/>
                    <b:button value ="Back to Cars" outcome="cars" icon-awesome="fas fa-chevron-left"/>
                    
                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

