<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:b="http://bootsfaces.net/ui"
                template="/home.xhtml">

    <ui:define name="view_task">

        <h:head>
            <title> MarketManager | View Task </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{taskController.initExistingTask()}" />
                </f:metadata>

                <h:form id = "viewTaskForm" >
                    
                    <p:resizable for="viewTaskGrid"  />

                    <h3>
                        <h:outputText value="View Task"/>
                    </h3>

                    <b:growl id="growl" allowDismiss="true" /> 
                    
                    <p:panelGrid id ="viewTaskGrid" columns="2" >

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{taskController.task.name}" />

                        <h:outputLabel value="Description" for="description" />
                        <h:inputTextarea disabled="true" id="description"  value="#{taskController.task.description}" />

                        <h:outputLabel value="Date" for="date" />
                        <h:outputText id="date" value="#{taskController.formattedDateInString(taskController.task.taskDate)}" />

                        <h:outputLabel value="Employee" for="employee" />
                        <h:outputText id="employee" value="#{taskController.task.employee.name}" rendered="#{taskController.isUserInRole('user')}" />
                        <h:link rendered="#{taskController.isUserInRole('admin')}" outcome="view_employee.xhtml?employee=#{taskController.task.employee.id}" value="#{taskController.task.employee.name}" />
                        
                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" value="#{taskController.task.activeStatus.acitvity}" style="color : #{taskController.activeStyleColor()};" />

                        <h:outputLabel value="Task done " for="done" />
                        <h:selectBooleanCheckbox disabled="true" value="#{taskController.task.doneBool}"  id="done"/>

                    </p:panelGrid>
                    
                    <br/>
                    
                    <b:commandButton rendered="#{not taskController.task.doneBool and employeeController.isUserInRole('admin') and taskController.taskStatusActive(taskController.task) and taskController.ownAdminTask(taskController.task)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check-circle" actionListener="#{taskController.taskDone(taskController.task)}" />
                    <b:commandButton rendered="#{taskController.task.doneBool and employeeController.isUserInRole('admin') and taskController.taskStatusActive(taskController.task) and taskController.ownAdminTask(taskController.task)}" look="warning" ajax="true" value="Not done" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{taskController.taskUndone(taskController.task)}" />
                    <b:button look="primary" rendered="#{employeeController.isUserInRole('admin') and taskController.taskStatusActive(taskController.task)}" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_task.xhtml?task=#{taskController.task.id}" />
                    <b:commandButton look="danger" rendered="#{employeeController.isUserInRole('admin') and taskController.taskStatusActive(taskController.task)}" ajax="true" value="Deactivate" update="@form" icon-awesome="fas fa-trash" actionListener="#{taskController.deleteTask(taskController.task)}" />

                    <b:commandButton rendered="#{not taskController.task.doneBool and employeeController.isUserInRole('user') and taskController.taskStatusActive(taskController.task)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check-circle" actionListener="#{taskController.taskDone(taskController.task)}" />
                    <b:commandButton rendered="#{taskController.task.doneBool and employeeController.isUserInRole('user') and taskController.taskStatusActive(taskController.task)}" look="danger" ajax="true" value="Not done" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{taskController.taskUndone(taskController.task)}" />
                    <b:button value="Request" rendered="#{not taskController.task.doneBool and employeeController.isUserInRole('user') and taskController.taskStatusActive(taskController.task) and  not taskController.taskAlreadyHaveRequest(taskController.task)}" look="primary" icon-awesome="fas fa-file" outcome="new_request?task=#{taskController.task.id}" />

                    <br/><br/>
                    <b:button value ="Back to Tasks" outcome="tasks" icon-awesome="fas fa-chevron-left"/>
                    
                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

