<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_driver">
        <h:head>
            <title> MarketManager | View Driver </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{driverController.initExistingDriver()}" />
                </f:metadata>

                <h:form id = "driverViewForm" >
                    <p:resizable for="driverViewGrid"  />

                    <h3>
                        <h:outputText value="View Driver"/>
                    </h3>

                    <b:growl id="growl" allowDismiss="true" /> 

                    <p:panelGrid id ="driverViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:panelGroup >
                            <h:outputText rendered="#{driverController.isUserInRole('user')}" id="name" value="#{driverController.driver.employee.name}"/>
                            <h:link rendered="#{driverController.isUserInRole('admin')}" outcome="view_employee.xhtml?employee=#{driverController.driver.employee.id}" value="#{driverController.driver.employee.name}" />
                        </h:panelGroup>

                        <h:outputLabel value="License" for="license" />
                        <h:outputText id="license" value="#{driverController.driver.license.licenseType}"/>

                        <h:outputLabel value="Status"/>
                        <h:outputText id="status" rendered="#{driverController.ownStatusActive(driverController.driver)}" value="#{driverController.driver.employee.activeStatus.acitvity}" style="color : #{driverController.activeStyleColor()};"/>
                        <h:outputText id="inactiveStatus" rendered="#{not driverController.ownStatusActive(driverController.driver)}" value="Inactive" style="color : red;"/>

                    </p:panelGrid>

                    <br/>

                    <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" rendered="#{driverController.driverStatusActive(driverController.driver) and driverController.isUserInRole('admin')}" outcome="edit_driver.xhtml?driver=#{driverController.driver.id}" />
                    <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{driverController.driverStatusActive(driverController.driver) and driverController.isUserInRole('admin')}" update="@form" icon-awesome="fas fa-trash" actionListener="#{driverController.deleteDriver(driverController.driver)}" />

                    <br/><br/>
                    <b:button value ="Back to Drivers" outcome="drivers" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

