<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_request">
        <h:head>
            <title> MarketManager | View Request </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{requestController.initExistingRequest()}" />
                </f:metadata>


                <h:form id = "requestViewForm" >
                    <p:resizable for="requestViewGrid"  />

                    <h3>
                        <h:outputText value="View request"/>
                    </h3>

                    <b:growl id="growl" allowDismiss="true" /> 
                    
                    <br/><br/>

                    <p:panelGrid id="requestViewGrid" columns="2">

                        <h:outputLabel for="task" value="Task "/>
                        <h:link id="task" outcome="view_task.xhtml?task=#{requestController.request.task.id}" value="#{requestController.request.task.name}"/>

                        <h:outputLabel for="responsible" value="Responsible"/>
                        <h:outputText id="responsible" rendered="#{requestController.isUserInRole('user')}" value="#{requestController.request.employee.name}"/>
                        <h:link rendered="#{requestController.isUserInRole('admin')}" outcome="view_employee.xhtml?employee=#{requestController.request.employee.id}" value="#{requestController.request.employee.name}" />

                        <h:outputLabel for="reason" value="Reason"/>
                        <h:outputText id="reason" value="#{requestController.request.reason}"/>

                        <h:outputLabel for="date" value="Date"/>
                        <h:outputText id="date" value="#{requestController.formattedDateInString(requestController.request.requestDate)}"/>

                        <h:outputLabel for="status" value="Status"/>
                        <h:outputText id="status" value="#{requestController.request.status}"/>

                    </p:panelGrid>

                    <br/>

                    <h:panelGrid columns="2">
                        <b:commandButton look="success" rendered="#{requestController.isUserInRole('admin') and not requestController.request.status.equals('Accepted') and requestController.taskStatusActive(requestController.request.task)}" ajax="true"  icon-align="right" value="Accept" update="@form" icon-awesome="fas fa-check-square" actionListener="#{requestController.acceptRequest(requestController.request)}" />
                        <b:commandButton look="danger" rendered="#{requestController.isUserInRole('admin') and not requestController.request.status.equals('Declined') and requestController.taskStatusActive(requestController.request.task)}" ajax="true" icon-align="right" value="Decline" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{requestController.declineRequest(requestController.request)}" />

                        <b:button look="primary" rendered="#{requestController.isUserInRole('user') and requestController.request.status.equals('Pending') and requestController.taskStatusActive(requestController.request.task)}" icon-align="right" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_request?req=#{requestController.request.id}"  />
                        <b:commandButton look="danger" rendered="#{requestController.isUserInRole('user') and requestController.request.status.equals('Pending')  and requestController.taskStatusActive(requestController.request.task)}" icon-align="right" ajax="true" value="Delete" update="@form" icon-awesome="fas fa-times-circle" actionListener="#{requestController.deleteRequest(requestController.request)}" />



                    </h:panelGrid>

                    <br/><br/>
                    <b:button value ="Back to Requests" outcome="requests" icon-awesome="fas fa-chevron-left"/>
                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

