<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_item">
        <h:head>
            <title> MarketManager | View Item </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{itemController.initExistingItem()}" />
                </f:metadata>


                <h:form id = "viewItemForm" >
                    
                    <p:resizable for="viewItemGrid"  />

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="View Item"/>
                    </h3>

                    <br/><br/>

                    <p:panelGrid id ="viewItemGrid" columns="2" >
                        <h:outputLabel for="itemName" value="Name"/>
                        <h:outputText id ="itemName" value="#{itemController.item.name}"  />

                        <h:outputLabel for="quantity" value="Quantity"/>
                        <h:outputText id="quantity" value="#{itemController.item.quantity}"/>
                        
                        <h:outputLabel for="unitPrice" value="Unit price"/>
                        <h:outputText id="unitPrice" value="#{itemController.item.unitPrice}"/>

                        <h:outputLabel for="warehouse" value="Warehouse"/>
                        <h:link outcome="view_warehouse.xhtml?warehouse=#{itemController.item.warehouse.id}" id="warehouse" value="#{itemController.item.warehouse.name}"/>
                    </p:panelGrid>
                    
                    <br/>

                    <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" outcome="edit_item.xhtml?item=#{itemController.item.id}" />

                    <br/><br/>
                    <b:button value="Back to Items" outcome="items.xhtml" icon-awesome="fas fa-chevron-left" />

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

