<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_warehouse">
        <h:head>
            <title> MarketManager | View Warehouse </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{warehouseController.initExistingWarehouse()}" />
                </f:metadata>

                <h:form id = "warehouseViewForm" >
                    
                    <p:resizable for="warehouseViewGrid"  />

                    <h3>
                        <h:outputText value="View Warehouse"/>
                    </h3>
                    
                    <b:growl id="growl" allowDismiss="true" /> 

                    <p:panelGrid id ="warehouseViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{warehouseController.warehouse.name}" />


                        <h:outputLabel value="Address" for="address" />
                        <h:outputText id="address" value="#{warehouseController.warehouse.address}" />
                        
                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" value="#{warehouseController.warehouse.activeStatus.acitvity}" style="color : #{warehouseController.activeStyleColor()};"/>

                    </p:panelGrid>

                    <br/>

                    <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" rendered="#{warehouseController.warehouseStatusActive(warehouseController.warehouse)}"  outcome="edit_warehouse.xhtml?warehouse=#{warehouseController.warehouse.id}" />
                    <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{warehouseController.warehouseStatusActive(warehouseController.warehouse)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{warehouseController.deleteWarehouse(warehouseController.warehouse)}" />
                    <b:commandButton look="danger" ajax="true" value="Delete" rendered="#{not warehouseController.warehouseStatusActive(warehouseController.warehouse)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{warehouseController.permanentDelete(warehouseController.warehouse)}" />
                    
                    <br/><br/>
                    <b:button value ="Back to Warehouses" outcome="warehouses" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

