<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_partner">
        <h:head>
            <title> MarketManager | View Partner </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{partnerController.initExistingPartner()}" />
                </f:metadata>

                <h:form id = "parntnerViewForm" >
                    
                    <p:resizable for="partnerViewGrid"  />

                    <h3>
                        <h:outputText value="View Partner"/>
                    </h3>
                    
                    <b:growl id="growl" allowDismiss="true" /> 

                    <p:panelGrid id ="partnerViewGrid" columns="2">

                        <h:outputLabel value="Name" for="name" />
                        <h:outputText id="name" value="#{partnerController.partner.name}" />


                        <h:outputLabel value="Address" for="address" />
                        <h:outputText id="address" value="#{partnerController.partner.address}" />
                        
                        <h:outputLabel value="Email" for="email" />
                        <h:outputText id="email" value="#{partnerController.partner.email}"/>

                        <h:outputLabel value="Phone number" for="phone" />
                        <h:outputText id="phone" value="#{partnerController.partner.phoneNumber}" />


                        <h:outputLabel value="Type" for="pType" />
                        <h:outputText  id="pType" value="#{partnerController.partner.type}" />
                        
                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" value="#{partnerController.partner.activeStatus.acitvity}" style="color : #{partnerController.activeStyleColor()};" />

                    </p:panelGrid>

                    <br/>

                    <b:button look="primary" value="Edit"  rendered="#{partnerController.partnerStatusActive(partnerController.partner)}" icon-awesome="fas fa-pencil" outcome="partner_edit.xhtml?partner=#{partnerController.partner.id}" />
                    <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{partnerController.partnerStatusActive(partnerController.partner)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{partnerController.deletePartner(partnerController.partner)}" />
                    <b:commandButton look="danger" ajax="true" value="Delete" rendered="#{not partnerController.partnerStatusActive(partnerController.partner)}"  update="@form" icon-awesome="fas fa-trash" actionListener="#{partnerController.permanentDelete(partnerController.partner)}" />
                    
                    <br/><br/>
                    <b:button value ="Back to Partners" outcome="partners" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

