<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="view_order">
        <h:head>
            <title> MarketManager | View Order </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{orderController.initExistingOrder()}" />
                </f:metadata>


                <h:form id = "orderViewForm" >
                   
                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="View Order"/>
                    </h3>

                    <br/><br/>

                    <p:panelGrid id ="orderViewGrid" columns="2" style="width: 25%">
                        
                        <h:outputLabel value="Name" for="orderName"/>
                        <h:outputText value="#{orderController.order.name}" id="orderName"/>

                        <h:outputLabel value="Partner" for="partner" />
                        <h:link outcome="view_partner?partner=#{orderController.order.partner.id}" id="partner" value="#{orderController.order.partner.name} "/>

                        <h:outputLabel value="Created" for="created" />
                        <h:outputText id="created" value="#{orderController.formattedDateInString(orderController.order.created)}"/>
                        
                        <h:outputLabel value="Due" for="due" />
                        <h:outputText id="due" value="#{orderController.formattedDateInString(orderController.order.due)}"/>

                        <h:outputLabel value="Completed" for="completed" />
                        <h:outputText id="completed" value="#{orderController.formattedDateInString(orderController.order.completed)}"/>

                        <h:outputLabel value="Type" for="type" />
                        <h:outputText id="type" value="#{orderController.order.orderType.type}"/>

                        <h:outputLabel value="Status" for="status" />
                        <h:outputText id="status" style="color : #{orderController.styleColor(orderController.order)};" value="#{orderController.order.status.status}"/>

                    </p:panelGrid>

                    <p:panelGrid id="itemLabelGrid" columns="1" style="width: 25%">
                        <h:outputLabel style="margin-left: 40%" value="Items" for="itemsGrid" />
                    </p:panelGrid>
                    
                    <b:panelGrid style="border:1px solid grey;width: 25%" columns="3">
                        <h:outputText value="Name" />
                        <h:outputText value="Quantity" />
                        <h:outputText value="Unit price" />
                    </b:panelGrid>


                    <ui:repeat id="items" value="#{orderController.order.orderItemList}" var="orderItem">
                        <b:panelGrid id="itemsGrid" columns="3" style="width: 25%;border:1px solid grey">
                            <h:link outcome="view_item.xhtml?item=#{orderItem.item.id}" value="#{orderItem.item.name} "/>
                            <h:outputText  value="#{orderItem.quantity} pcs"/>
                            <h:outputText  value="#{orderItem.item.unitPrice}"/>
                       </b:panelGrid>
                    </ui:repeat> 
                    
                    <p:panelGrid id="sumPriceGrid" columns="1" style="width: 25%">
                        <h:outputLabel style="margin-left: 40%" value="Sum" />
                        <h:outputText value="#{orderController.order.sumPrice}" />
                    </p:panelGrid>

                    <br/>

                    <h:panelGrid columns="3" id="actionsGrid" >
                        <b:commandButton rendered="#{orderController.orderActive(orderController.order)}" look="success" ajax="true" value="Done" update="@form" icon-awesome="fas fa-check" actionListener="#{orderController.completeOrder(orderController.order)}" />
                        <b:commandButton look="danger" ajax="true" rendered="#{orderController.orderActive(orderController.order)}" value="Storno" update="@form" icon-awesome="fas fa-trash" actionListener="#{orderController.deleteOrder(orderController.order)}" />
                    </h:panelGrid>

                    <br/><br/>
                    <b:button value ="Back to Orders" outcome="orders" icon-awesome="fas fa-chevron-left"/>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

