<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:b="http://bootsfaces.net/ui"
                xmlns:p="http://primefaces.org/ui"
                template="home.xhtml">

    <ui:define name="warehouses">
        <h:head>
            <title> MarketManager | Warehouses </title>
        </h:head>

        <h:body>
            <f:view>

                <f:metadata>
                    <f:viewAction action="#{warehouseController.init()}" />
                </f:metadata>


                <h:form id = "warehouseForm" >

                    <b:growl id="growl" allowDismiss="true" />  

                    <h3>
                        <h:outputText value="Warehouses"/>
                    </h3>

                    <b:button look="primary" outcome="new_warehouse" value ="New Warehouse"/> 

                    <br/><br/>
                    <h:outputScript library="js" name="main.js" />

                    <b:button icon-awesome="fas fa-sort-down" icon-align="right" style="width:9%;display: inline;background-color: #3c3f41; color: white" id="filterb1"  value="Filter list" onclick="show('warehouseForm:filter', 'warehouseForm:filterb1', 'warehouseForm:filterb2')" />
                    <b:button icon-awesome="fas fa-sort-up" icon-align="right" style="width:9%;display: none;background-color: #3c3f41; color: white" id="filterb2"  value="Filter list" onclick="show('warehouseForm:filter', 'warehouseForm:filterb1', 'warehouseForm:filterb2')" />
                    <h:panelGroup id ="filter"   style="display : none;">
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Name" for="warehouseName" />
                            <h:inputText value="#{warehouseController.filteredName}" id="warehouseName"  />

                            <h:outputLabel value="Address" for="warehouseAddress" />
                            <h:inputText value="#{warehouseController.filteredAddress}" id="warehouseAddress"  />

                            <h:outputLabel value="Show inactive" for="showInactive" />
                            <h:selectBooleanCheckbox id="showInactive" value="#{warehouseController.showInactive}" />
                        </p:panelGrid>
                        <b:commandButton look="success" value="Filter" ajax="true" update="warehouseForm:warehousesTable" actionListener="#{warehouseController.filter()}"/> 
                    </h:panelGroup>

                    <br/><br/>

                    <b:dataTable lang="eng" id ="warehousesTable" markSearchResults="true" paginated="true" striped="true" select="false" var="warehouse" value="#{warehouseController.warehouseList}">
                        <b:dataTableColumn label="Name" style="width: 33%">
                            <h:outputText value="#{warehouse.name} "/>
                            <h:outputText rendered="#{warehouseController.activityRendered(warehouse)}" value="(Inactive)" style="color: red"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Address" style="width: 33%">
                            <h:outputText value="#{warehouse.address}"/>
                        </b:dataTableColumn>
                        <b:dataTableColumn label="Actions" style="width: 33%">
                            <b:button look="info" value="View" icon-awesome="fas fa-eye" outcome="view_warehouse.xhtml?warehouse=#{warehouse.id}" />
                            <b:button look="primary" value="Edit" icon-awesome="fas fa-pencil" rendered="#{warehouseController.warehouseStatusActive(warehouse)}"  outcome="edit_warehouse.xhtml?warehouse=#{warehouse.id}" />
                            <b:commandButton look="danger" ajax="true" value="Deactivate" rendered="#{warehouseController.warehouseStatusActive(warehouse)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{warehouseController.deleteWarehouse(warehouse)}" />
                            <b:commandButton look="danger" ajax="true" value="Delete" rendered="#{not warehouseController.warehouseStatusActive(warehouse)}" update="@form" icon-awesome="fas fa-trash" actionListener="#{warehouseController.permanentDelete(warehouse)}" />
                        </b:dataTableColumn>
                    </b:dataTable>

                </h:form>

            </f:view>

        </h:body>

    </ui:define>

</ui:composition>

